.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 100px 0 120px 0;
    background-color: white;
}

.sub-main{
    justify-content: center;
    display: flex;
    height: 500px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 150px;
    border-radius: 60px;
    background-color: grey;
}

input{
    height: 40px;
    width: 200px;
    box-shadow: inset 0px 0px 25px 0px rgb(207, 207, 207);
    border-radius: 60px;
}

button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color:tan;
}